@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
body{
    background-color: #F8F8F5;
    font-family: 'Noto Sans TC', sans-serif;

}

/*共用class*/
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.f24{
    font-size: 24px;
    color: #208B75;
    letter-spacing: 0.2em;
    font-weight: 500;
    line-height: 1.5;
}
.f22{
    font-size: 20px;
    color: #777;
    letter-spacing: 0.18em;
    font-weight: 500;
    line-height: 1.5;
}
.f20{
    font-size: 20px;
    color: #777;
    letter-spacing: 0.25em;
    font-weight: 300;
    line-height: 1.6;
}
.f16{
    font-size: 16px;
    color: #777;
    letter-spacing: 0.25em;
    font-weight: 300;
    line-height: 1.6;
}
.sec-bg{
    background-color: #F4F4F0;
    border-radius: 300px 300px 275px 275px;
}
.title{
    display: block;
    margin: 0 auto;
    padding: 45px 0 40px;
}
.stitle{
    padding-bottom: 20px;
}

/*nav*/
nav{
    background-image: url(./img/nav.png);
    background-position: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 226px;
}
.navbar{
    display: flex;
    justify-content:flex-end;
}
.logo img{
    padding: 52px 73px 0 0;
    width: 185px;
    box-sizing: content-box;
}
.nav-list ul{
    display: flex;
    align-items: center;
    /* width: 100%; */
    padding-top: 33px;
}
.nav-text{
    color:#999;
    letter-spacing: 0.15em;
}
.nav-list ul li:nth-child(1),.nav-list ul li:nth-child(2),.nav-list ul li:nth-child(3),.nav-list ul li:nth-child(4),.nav-list ul li:nth-child(5){
    padding-right: 32px;
}
.nav-list ul li:nth-child(6),.nav-list ul li:nth-child(7),.nav-list ul li:nth-child(8){
    padding-right: 25px;
    padding-top: 6px;
}

.nav-list ul li a:hover{
    color:#208B75;
}
.here{
    color:#208B75;
}
.login:hover{
    opacity: .7;
}
.cart:hover{
    opacity: .7;
}
.rwdbtn{
    display: none;
    color: #208B75;
    font-size: 27px;
    padding-right: 25px;
    background: none;
    border: 0;
    outline: 0;
}
.rwdbtn:hover{
    opacity: .7;
}
.nav-rwd{
    display: none;
}
.nav-rwd ul{
    padding-bottom: 25px;
    display: none;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

/*footer*/
footer{
    background-color: #fff;
    width: 100%;
}
footer p{
    font-size: 12px;
    color: #999;
    letter-spacing: 0.15em;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    padding: 20px 0;
}

/*index-slogan*/
.slogan{
    display: flex;
    justify-content: flex-end;
    padding: 132px 100px 20px 0;
}
.slogan .slo-index{
    width: 720px;
    height: 230px;
    background-image: url(./img/index/header-g.png);
    background-size: 720px 230px;
    background-position: center;
    position: relative;
}/*img*/

.slogan .slo-index h5{
    position: absolute;
    top: 155px;
    left: 88px;
    transform: translate(-50px, -50px); 
    z-index: 1;
}/*text on img*/


/*section 共用*/
.sec-r{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sec-l{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 120px;
}
.sec-c{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 30px;
}
.b4sec{
    padding-top: 270px;
}

/*index-sec 本月主打星*/
.star .title{
    width: 460px;
}
.star .sec-r .text-st{
    padding: 90px 50px 0 0;
    width: 365px;
}
.star .sec-l .text-st2{
    padding: 60px 0 0 60px;
    width: 365px;
}
.star h1:hover{
    opacity: .7;
}
.star .sec-r img{
    width: 620px;
    padding-top: 40px;
}
.star .sec-l img{
    width: 620px;
}

/*index-sec 關於duonuts*/
.abo .title{
    width: 454px;
}
.abo .sec-c{
    padding-left: 20px;
}
.abo .sec-c .img{
    width: 400px;
}
.abo .sec-c .text-ab{
    padding: 0 50px 0 0;
    width: 365px;
}
.abo .sec-c .text-ab img{
    margin: 35px 0 0 170px;
}/*morebtn*/
.abo .sec-c .text-ab img:hover{
    opacity: .7;
}

/*index-sec 熱門商品*/
.dspnone{
    display: none;
}

.hot .title{
    width: 418px;
}
.hot .sec-c{
    padding-bottom: 0px;
}
.hot-crs{
    display: flex;
}

.hot .hot-crs .item{
    padding: 0 10px;
}
.hot .hot-crs .item img{
    height: 255px;
}
.hot .hot-crs .item h3{
    padding: 20px 0;
    text-align: center;
}
.hot .hot-crs .item h3:hover{
    opacity: .7;
}
.hot .lbtn{
    padding-right: 10px;
    padding-bottom: 60px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0;
}
.hot .rbtn{
    padding-left: 10px;
    padding-bottom: 60px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0;
}
.hot .mr{
    padding-bottom: 100px;
}
.hot .lbtn:hover,.hot .rbtn:hover,.hot .mr:hover{
    opacity: .7;
}

/*index-sec 最新消息*/
.neww .title{
    width: 442px;
}
.neww .sec-c{
    padding-bottom: 10px;
}
.neww .item2{
    padding: 0 15px;
    width: 320px;
}
.neww .item2 img{
    width: 300px;
}
.neww .item2 h3{
    padding: 20px 15px 10px;
    text-align: center;
}
.neww .item2 h3:hover{
    opacity: .7;
}
.neww .mr{
    padding-bottom: 100px;
}
.neww .mr:hover{
    opacity: .7;
}


/*about-sec 品牌故事*/
.story .title{
    width: 426px;
}
.story .text-sto{
    width: 420px;

}
.story .text-sto p{
    padding-bottom: 12px;
}
.story .sec-c{
    padding-left: 20px;
    padding-top: 20px;
}
.story .sec-c img{
    padding-left: 60px;
    width: 364px;
    box-sizing: content-box;
}

/*about-sec 嚴選食材*/
.mat .title{
    width: 427px;
}
.mat .sec-c{
    padding-bottom: 120px;
    padding-left: 40px;
}
.mat .item3{
    padding: 0 15px;
    width: 300px;
}
.mat .item3 img{
    width: 282px;
}
.mat .item3 h1{
    padding: 30px 0 10px 15px;
}

/*about-sec 團隊介紹*/
.team .title{
    width: 421px;
}
.team .sec-c{
    padding-bottom: 120px;
}

.team .item4{
    padding: 0 40px;
    width: 290px;
}
.team .item4 img{
    width: 200px;
}
.team .item4 h1{
    padding: 30px 0 10px;
    text-align: center;
}
.team .item4 p{
    text-align: center;
}


/*news-sec 優惠活動*/
.sale .title{
    width: 442px;
}
.sale .text-sl{
    width: 432px;
}
.sale .text-sl p{
    padding-bottom: 10px;
}
.sale .sale-s1{
    padding-top: 0px;
}
.sale .sale-s1 img{
    margin-left: 20px;
    width: 268px;
}
.sale .sec-c{
    padding-bottom: 0;
}
.sale .sale-s2{
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 100px;
}
.sale .sale-s2 img{
    margin-right: 50px;
    width: 275px;
}

/*news-sec 最新消息*/
.news .title{
    width: 442px;
}
.news .text-nw{
    width: 500px;
}
.news .text-nw p{
    padding-bottom: 10px;
}
.news .sec-c img{
    padding-left: 30px;
    width: 300px;
}
.news .sec-c{
    padding-bottom: 10px;
    padding-left: 30px;
}
.news .news3{
    padding-bottom: 100px;
}


/*store-sec 共用*/
.store .title{
    width: 417px;
}
.store .map1{
    width: 466px;
    padding-left: 20px;
}
.store .map2{
    width: 396px;
    padding-left: 20px;
}
.store .text-store{
    width: 350px;
    padding-left: 30px;
}
.store .text-store .adr{
    padding-bottom: 40px;
}
.store .text-store .info{
    display: flex;
    padding-bottom: 5px;
}
.store .text-store .info p{
    color: #208B75;
    font-weight: 500;
    padding-left: 10px;
}
.store .text-store .info img{
    padding-left: 0;
}


/*product-sec 共用*/
.itemp{
    margin: 0 20px;
    width: 250px;
}
.itemp img{
    height: 240px;
}
.itemp h3{
    padding: 15px 0;
    text-align: center;
}
.itemp h3:hover{
    opacity: .7;
}
.bas .title{
    width: 560px;
}
.ball .title{
    width: 460px;
}

/*product-sec 限定款duonuts*/
.fla .title{
    width: 575px;
}
.fla .sec-c{
    padding-bottom: 0px;
}
.fla .flas2{
    padding-bottom: 100px;
}

/*product-popup 商品頁*/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(7, 7, 7, 0.3);
    display: none;
    z-index: 1000;
  }
.popup{
    margin: 145px auto;
    background-color: #fff;
    border-radius: 180px;
    width: 900px;
    position: relative;
    z-index: 1000;
  }
.popup .closebtn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    font-size: 30px;
  }
.popup .closebtn:hover{
    color: #208B75;
}
.popup .prbtn{
    position: absolute;
    top: 43%;
    left: -60px;
    width: 45px;
  }
.popup .nxbtn{
    position: absolute;
    top: 43%;
    right: -60px;
    width: 45px;
  }
.popup .prbtn:hover,.popup .nxbtn:hover{
    opacity: .7;
}
.popup .sec-r{
    padding: 80px 0 100px;
}
.popup .sec-r>img{
    width: 529px;
}
.popup .text-pop{
    padding-right: 35px;
    padding-top: 35px;
    width: 265px;
}
.popup .swt{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.popup .swt img{
    padding: 0 1px;
}
.popup .swt p{
    padding-right: 3px;
}
.popup .text-pop .price{
    text-align: right;
    font-weight: 300;
    padding-right: 38px;
    padding-bottom: 3px;
}
.popup .text-pop .buybtn img{
    width: 121px;
}
.popup .text-pop .buybtn{
    padding-left: 93px;
}
.popup .text-pop .buybtn:hover{
    opacity: .7;
}

/*shoppingcart-popup 購物車*/
.shct{
    overflow-y: scroll;
}
.shct .shtitle{
    padding-top: 70px;
    padding-bottom: 20px;
}
.shct .shtitle img{
    margin-right: 5px;
    margin-bottom: 5px;
}
.shct .line{
    border-bottom: #208B75 solid 1px;
    margin: 0 auto;
}
.shct .lineg{
    border-bottom: #999 solid 1px;
    margin: 0 auto;
}
.shct .shlist{
    padding: 0 90px 70px;
}
.shct .shtop{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.shct .shtop li{
    display: flex;
    align-items: center;
    background-color: #208B75;
    border-radius: 15px;
    padding: 0px 5px;
}
.shct .shtop li h3{
    margin-left: 5px;
    color: #fff;
}
.shct .shtop li a{
    padding: 0px 5px 0px 10px;
    background-color: #208B75;
    color: #fff;
    border-radius: 15px;
}
.shct .shtop li a:hover{
    opacity: .7;
}
.shct .shli-title{
    display: flex;
    padding: 15px 20px;
}
.shct .shli-title .f20{
    color: #208B75;
    font-weight: 400;
}
.shct .shli{
    display: flex;
    padding: 15px 20px;
}
.shct .shli li{
    display: flex;
    align-items: center;
}
.shct .shli .pname .f20{
    margin-left: 10px;
}

.shct .pname{
    width: 400px;
}
.shct .price{
    width: 240px;
}
.shct .count{
    width: 60px;
}

.shct .shli li .amount{
    width: 50px;
    font-size:20px;
    border: 0;
    outline: 0;
    color: #777;
    padding-left: 5px;
}
.shct .totalprice .f20{
    text-align: right;
    color: #208B75;
    font-weight: 400;
    padding: 30px 50px;
}
.shct .checkout{
    display: flex;
    justify-content: center;
}
.shct .checkoutbtn{
    border: 0;
    outline: 0;
    width: 200px;
    background: 0;
    cursor: pointer;
}
.shct .checkoutbtn:hover{
    opacity: .7;
}


/*contact-sec 聯絡我們*/
.contact .title{
    width: 440px;
}
.contact .inputbg{
    background-color: #fff;
    width: 580px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(7, 7, 7, .1);
}
.contact form{
    padding: 57px 0;
    list-style: none;
    display: flex;
    flex-flow: column;
}
.contact h3{
    padding-top: 25px;
    padding-bottom: 8px;
    color: #208B75;
}
.contact .wh{
	width: 320px;
	height: 40px;
	background-color: #F8F8F5;
	border:0;
	padding-left: 5px;
}
.contact .wh:hover{
    background-color:#F4F4F0;
}
.contact input:focus{
    outline: 2px dotted #208B75;
}
.contact textarea{
	width: 320px;
	height: 200px;
	background-color: #F8F8F5;
	border: 0;
	padding-left: 5px; 
}
.contact textarea:hover{
    background-color: #F4F4F0;
}
.contact textarea:focus{
    outline: 2px dotted #208B75;
}
.contact button{
    padding-top: 30px;
    background: none;
    border:0;
    outline: 0;
}
.contact .sendbtn{
    cursor: pointer;
    width: 125px;
}
.contact .sendbtn:hover{
    opacity: .7;
}


